html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #E7F0DC;
}

* {
    box-sizing: border-box;
}

.navbar {
    height: 10%;
    width: 100%;
    background-color: #B6C7AA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.menu {
    display: flex;
    background-color: #ACD793;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 5%;
    width: 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    top: 0;
    z-index: 2;
}

a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: white;
}

.menu a.active {
    color: white;
}

.link {
    background-color: rgba(218, 218, 235, 0.3);
    border-bottom: 2px groove rgba(218, 218, 235, 0.7);
    border-radius: 5px;
}

.link:hover {
    color: olivedrab;
    cursor: pointer;
}

.container {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: row;
    position: relative;
    top: -5vh;
    z-index: 1;
    margin-bottom: 0;
}

.map-column {
    height: 100%;
    width: 65%;
}

.text-column {
    height: 100%;
    width: 35%;
    background-color: rgb(215, 227, 216);
}

.map-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.text-container {
    height: calc(94% - 7px);
    width: 100%;
    overflow-y: scroll;
    padding: 5vh;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.text-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

#progress-bar {
    top: 0;
    height: 7px;
    background-color: #ACD793;
    width: 0%;
    max-width: 100%;
}

.navigation-buttons {
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    color: #799351;
    background-color: rgb(224, 251, 226);
    border-radius: 7.5px;
    border-width: 0px;
    border-color: olivedrab;
}

button:hover {
    border-width: 2px;
    cursor: pointer;
}

button:disabled {
    color: grey;
    background-color: darkgray;
    cursor: default;
}

button:disabled, button:disabled:hover {
    border: none;
}

#map {
    height: 100%;
    width: 100%;
}

.montserrat-heading {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.montserrat-p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#basemapToggle {
    border-radius: 4px;
    background-color: white;
    width: 33px;
    height: 33px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: lightgray 2px groove;
}

#basemapToggle:hover {
    cursor: pointer;
    background-color: darkgray;
}

#qButton {
    border-radius: 50%;
    background-color: white;
    color: grey;
    width: 33px;
    height: 33px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: lightgray 2px groove;
}

#qButton:hover {
    cursor: pointer;
    background-color: darkgray;
}

.modal {
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 20000;
    left: 50%;
    top: 50%;
    width: 60%;
    height: 60%;
    overflow: auto;
    background-color: rgb(236, 244, 236);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content {
    margin: 30px 20px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    padding-right: 12px;
}

.close:hover {
    cursor: pointer;
    color: #000;
}

.default-button {
color: olivedrab;
}

.esri-button {
    color: grey;
}

.dark-button {
    color: black;
}

.leaflet-spotlight-container.circle {
    border-radius: 50%;
}

.leaflet-spotlight-container {
    z-index: -10000;
    position: absolute;
    left: 30%;
    top: 30%;
    opacity: 0;
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 10px 10px, rgba(0, 0, 0, 0.25) 0px 0px 0px 3000px;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0px 0px 10px 10px, rgba(0, 0, 0, 0.25) 0px 0px 0px 3000px;
    -o-transition: all 1000ms;
    transition: all 1000ms;
    -moz-transition: all 1000ms;
    -webkit-transition: all 1000ms;
}

.default-map .leaflet-tile {
    filter: saturate(1);
}

.esri-map .leaflet-tile {
    filter: saturate(1);
}

.dark-map .leaflet-tile {
    filter: saturate(1);
}

.key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #eee;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 20px;
    height: 20px;
}

#esc {
    font-size: 11px;
}

#modal-header {
    text-align: center;
}